{
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-strict-mode",
    "syntax-decorators"
  ],
  "presets": [
    "es2015",
    "react"
  ],
  "env":{
    "development":{

    },
    "web":{

    }
  }
}
