{
  "env":{
    "server":{
      "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-es2015-destructuring",
        "transform-react-jsx",
        "transform-object-rest-spread",
        "transform-strict-mode",
        "transform-class-properties",
        "transform-es2015-parameters"
      ]
    },
    "web":{
      "plugins": [
      ],
      "presets": [
        "es2015",
        "react"
      ]
    }
  }
}
