<div class="nav-main">
  <div class="wrap"><a class="nav-home" href="/"><img src="/img/header_logo.png">React-Native.CN</a>
  <div class="nav-site-wrapper">
              <ul class="nav-site nav-site-internal">
                  <li><a href="/blog/" class="">博客</a></li>
                  <li><a href="/docs/getting-started.html" class="">文档</a></li>
                  <li><a href="/support.html" class="">支持</a></li>
                  <li><a href="/showcase.html" class="">案例</a></li>
                  <li><a href="/about/" class="">关于</a></li>
              </ul>
              <ul class="nav-site nav-site-external">
                  <li><a href="https://github.com/facebook/react-native" class="">GitHub</a></li>
                  <li><a href="http://facebook.github.io/react-native" class="">Official Site in English</a></li>
              </ul>
          </div>
      </div>
  </div>
</div>

