.container-blog
  width 960px
  padding 20px
  margin 0 auto
  h1, h2, h3, h4, h5, h6 
    margin 10px 0
    font-family inherit
    font-weight bold
    line-height 20px
    color inherit
    text-rendering optimizelegibility
  h1, h2, h3
    line-height 40px
  h1
    font-size 36px
    a
      color #c05b4d
  .blog-list
    color #2d2d2d
    font-size 14px
    float left
    width 210px
    h3
      font-size 14px
    ul
      list-style none
      padding 0
      li
        margin-bottom 6px
        a
          color #666
          &.pinned
            color #c05b4d
  .inner-content
    width 650px
    float right
    .post-list-item
      margin-bottom 60px
    h2
      font-size 28px
      margin 20px 0
