.container-cases
  padding-top 20px
  text-align center
  .introduce
    padding 10px 0
    line-height 2
    font-size 15px
  .cases
    width 800px
    margin 0 auto
    .case
      width 20%
      margin 30px auto 10px
      display inline-block
      text-align center
      vertical-align top
      img
        width 100px
        height 100px
        border-radius 20px

@media screen and (max-width:800px)
  .container-cases
    .cases
      width 100%!important
      .case
        width 50%!important