.container-post
  width 960px
  padding 30px
  margin 0 auto
  h1, h2, h3, h4, h5, h6 
    margin 10px 0
    font-family inherit
    line-height 20px
    color inherit
    text-rendering optimizelegibility
  h1, h2, h3
    line-height 40px
    font-size 22px!important
  .post-list-item
    .post-header
      overflow hidden
      margin-bottom 30px
      .post-title
        font-size 26px
        color #000
        display block
      .meta
        margin-top 15px
